@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
/*********************************************
*
* Global Reset
*
*********************************************/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #eee; }

.header,
.form {
  width: 60vw;
  margin: 0 auto; }

.form__field {
  display: grid;
  grid-template-columns: 1fr auto; }
