@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
/*********************************************
*
* Global Reset
*
*********************************************/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  background-color: #eee; }

.header,
.form {
  background-color: #fff;
  width: 50vw;
  margin: 0 auto;
  padding: 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); }

.header {
  margin-top: 5rem; }

.form__field {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem; }

.form__field:not(:last-child) {
  margin-bottom: 5rem; }

.footer {
  background-color: #555;
  color: #eee;
  height: 25rem;
  padding: 5rem;
  text-align: center; }
  .footer__text {
    font-size: 1.8rem; }
  .footer__copy {
    font-size: 2rem;
    font-weight: 400; }
