@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i|IBM+Plex+Serif:400,400i");
/*********************************************
*
* Global Reset
*
*********************************************/
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  color: #006161;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  background-color: #EFEFEF;
  background-image: linear-gradient(to bottom, rgba(76, 173, 173, 0.1) 0%, rgba(0, 97, 97, 0.5) 60%); }

.link {
  transition: all .2s; }
  .link, .link:link, .link:visited {
    color: currentColor;
    text-decoration: none; }
  .link:focus, .link:hover {
    font-weight: 600;
    text-shadow: 0 0 5px #006161; }
  .link:active {
    outline: none; }

.header,
.form {
  width: 70vw;
  margin: 0 auto;
  padding: 5rem; }

.header {
  margin-top: 5rem; }

.form__field {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 5rem; }

.header {
  background-color: #4CADAD;
  border-bottom: 1px solid #006161;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 10px rgba(0, 97, 97, 0.8);
  color: #EFEFEF;
  text-align: center;
  line-height: 2; }
  .header__title {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: 1px; }
    .header__title--sub {
      font-size: 2.5rem;
      font-weight: 400; }

.form {
  background-color: #EFEFEF;
  box-shadow: 0 5px 10px rgba(0, 97, 97, 0.7);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2; }
  .form__field:not(:last-child) {
    margin-bottom: 5rem; }
  .form__field--label {
    text-align: right; }
  .form__field--input, .form__field--select {
    background-color: rgba(76, 173, 173, 0.1);
    border: 1px solid rgba(0, 139, 139, 0.3);
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    padding: 5px;
    transition: all .2s; }
    .form__field--input:hover, .form__field--input:focus, .form__field--select:hover, .form__field--select:focus {
      background-color: rgba(76, 173, 173, 0.3);
      border: 1px solid rgba(0, 139, 139, 0.5); }
  .form__field--textarea {
    background-color: rgba(76, 173, 173, 0.1);
    border: 1px solid rgba(0, 139, 139, 0.3);
    border-radius: 5px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
    padding: 5px;
    resize: none;
    transition: all .2s; }
    .form__field--textarea:focus {
      background-color: rgba(76, 173, 173, 0.3);
      border: 1px solid rgba(0, 139, 139, 0.5); }
  .form__field--input:-webkit-autofill, .form__field--textarea:-webkit-autofill, .form__field--input:-webkit-autofill:hover, .form__field--textarea:-webkit-autofill:hover, .form__field--input:-webkit-autofill:focus, .form__field--textarea:-webkit-autofill:focus {
    background-color: rgba(76, 173, 173, 0.3) !important;
    border: 1px solid rgba(0, 139, 139, 0.5) !important;
    -webkit-text-fill-color: #008B8B;
    transition: background-color 5000s ease-in-out 0s; }
  .form__field--set {
    border: none; }
    .form__field--set ul {
      list-style: none; }
      .form__field--set ul li:not(:last-child) {
        margin-bottom: 1rem; }

.btn-submit {
  background-color: #008B8B;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px #006161;
  color: #EFEFEF;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1.5rem;
  grid-column: 1 / -1;
  transition: all .2s; }
  .btn-submit:hover, .btn-submit:active {
    background-color: #006161;
    box-shadow: 5px 5px 15px #4CADAD, -5px -5px 15px #4CADAD, -5px 5px 15px #4CADAD, 5px -5px 15px #4CADAD;
    transform: translateY(-2px); }
  .btn-submit:focus {
    outline: none; }

.footer {
  background-color: #006161;
  color: #EFEFEF;
  font-weight: 400;
  height: 25rem;
  padding: 5rem;
  text-align: center; }
  .footer__text {
    font-size: 1.8rem; }
  .footer__copy {
    font-size: 2rem; }
