.form {
    background-color: $color-white;
    box-shadow: 0 5px 10px rgba($color-primary-dark, 0.7);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    
    &__field {
        
        &:not(:last-child) {
            margin-bottom: 5rem;
        }
        
        
        &--label {
            text-align: right;
        }
        
        &--input,
        &--select {
            background-color: rgba($color-primary-light, .1);
            border: 1px solid rgba($color-primary, 0.3);
            border-radius: 5px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            outline: none;
            padding: 5px;
            transition: all .2s;
            
            
            &:hover,
            &:focus {
                background-color: rgba($color-primary-light, .3);
                border: 1px solid rgba($color-primary, 0.5);
            }
        }
        
        &--textarea {
            background-color: rgba($color-primary-light, .1);
            border: 1px solid rgba($color-primary, 0.3);
            border-radius: 5px;
            color: inherit;
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            outline: none;
            padding: 5px;
            resize: none;
            transition: all .2s;
            
            &:focus {
                background-color: rgba($color-primary-light, .3);
                border: 1px solid rgba($color-primary, 0.5);
            }
        }
        
        &--input:-webkit-autofill,
        &--textarea:-webkit-autofill,
        &--input:-webkit-autofill:hover,
        &--textarea:-webkit-autofill:hover,
        &--input:-webkit-autofill:focus,
        &--textarea:-webkit-autofill:focus {
            background-color: rgba($color-primary-light, .3) !important;
            border: 1px solid rgba($color-primary, 0.5) !important;
            -webkit-text-fill-color: $color-primary;
            transition: background-color 5000s ease-in-out 0s;
        }
        
        &--set {
            border: none;
            
            ul {
                list-style: none;
                
                li:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    
    &__checkbox,
    &__radio {
        cursor: pointer;
        padding-left: 3rem;
        position: relative;
        
        &-input {
            display: none;
            position: relative;
        }
        
        &-button {
            display: block;
            border: 2px solid $color-primary-light;
            height: 2.2rem;
            width: 2.2rem;
            position: absolute;
            top: 0;
            left: 0;
            
            &::before {
                opacity: 0;
                transition: opacity .3s;
            }
        }
        
        &-input:checked + &-button::before {
            opacity: 1;
        }
    }
    
    &__radio {
                
        &-button {
            background-image: radial-gradient($color-white, 
                                              $color-white, 
                                              $color-primary-light);
            border-radius: 100%;
        }
        
        &-button::before {
            background-color: $color-primary-dark;
            background-image: none;
            border: 1px solid $color-primary-dark;
            border-radius: 50%;
            box-shadow: 0 0 3px $color-primary-dark;
            content: "";
            display: table;
            height: 1rem;
            width: 1rem;
            position: absolute;
            top: calc(50% - .5rem);
            left: calc(50% - .5rem);
        }
    }

    &__checkbox {
        
        &-button {
            box-shadow: 0 0 5px $color-primary-light inset;
            border-radius: 1px;
        }
        
        &-input:checked + &-button {
            box-shadow: 0 0 10px $color-primary-light inset;
        }
        
        &-button::before {
            content: "\2713";
            font-weight: 600;
            display: table;
            padding-left: 2px;
            padding-bottom: 3px;
            text-shadow: 0 0 3px $color-primary-light;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.btn-submit {
    background-color: $color-primary;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px $color-primary-dark;
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1.5rem;
    grid-column: 1 / -1;
    transition: all .2s;
    
    &:hover,
    &:active {
        background-color: $color-primary-dark;
        box-shadow: 5px 5px 15px $color-primary-light,
                    -5px -5px 15px $color-primary-light,
                    -5px 5px 15px $color-primary-light,
                    5px -5px 15px $color-primary-light;
        transform: translateY(-2px);
    }
    
    &:focus {
        outline: none;
    }
}