.header,
.form {
    box-shadow: 0 5px 10px rgba($color-primary-dark, 0.7);
    width: 50vw;
    margin: 0 auto;
    padding: 5rem;
    
}

.header {
    border-bottom: 1px solid #555;
    border-radius: 5px 5px 0 0;
    margin-top: 5rem;
}

.form {
    
    &__field {
        
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 5rem;
    }
}

        