.header,
.form {
    width: 70vw;
    margin: 0 auto;
    padding: 5rem;
    
    @media only screen and (max-width: $bp-large) {
        padding: 3rem;
        width: 90vw;
    }
    
    @media only screen and (max-width: $bp-medium) {
        margin: 0;
        padding: 2rem;
        width: 100vw;
    }
    
}

.header {
    margin-top: 5rem;
    
    @media only screen and (max-width: $bp-large) {
        margin-top: 3rem;
    }
    
    @media only screen and (max-width: $bp-medium) {
        margin-top: 0;
    }
}

.form {
    
    &__field {
        
        display: grid;
        grid-template-columns: 3fr [input-start] 2fr [input-end];
        grid-column-gap: 5rem;
        align-items: center;
        
        @media only screen and (max-width: $bp-large) {
            grid-template-columns: 1fr [input-start] 2fr [input-end];
            grid-column-gap: 2rem;
        }
        
        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: [input-start] 1fr [input-end];
            grid-row-gap: 1rem;
        }
        
        &--input, &--textarea {
            width: 100%;
            grid-column: input-start / input-end;
            align-self: start;
        }
    }
}

        