.header,
.form {
    width: 70vw;
    margin: 0 auto;
    padding: 5rem;
    
}

.header {
    margin-top: 5rem;
}

.form {
    
    &__field {
        
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 5rem;
        align-items: center;
    }
}

        