.link {
    
    transition: all .2s;
    
    &,
    &:link,
    &:visited {
        color: currentColor;
        text-decoration: none;
    }
    
    &:focus,
    &:hover {
        font-weight: 600;
        text-shadow: 0 0 5px $color-primary-dark;
    }
    
    &:active {
        outline: none;
    }
}